/boost
/json
/grpc
/demjson
**/*_install
**/a.out
**/*tar.gz
**/*tar.bz2
**/boost_*
/docker/centos/build_*
/docker/centos/complile_*
/docker/centos/json
/docker/centos/mysql
/docker/centos/boost
/docker/centos/dev
/docker/centos/release
**/*_tmp
**/__pycache__
**/go.mod
**/go.sum
/docker/centos/pkg/
/docker/**/dev_base
/docker/**/build_dev
/docker/**/build_ros_dev
/docker/**/dev
/docker/**/native_dev
/docker/**/native_dev_base
/docker/**/ros
/docker/**/ros_dev

**/*.deb
**/*.rpm
